// $gray: #828081;
// $darkgray: #1e2224;
// $black: #161b1d;
// $solidBlack: #111617;
// $white: #ffffff;
// $lightwhite: #e1e1e1;

$secColorSolid: #0d1221;
$mainColorExtra: #cbcfea;
$mainColorSolid: #8a8b90;
$mainColor: #cbcfea;
$secColor: #161d37;
$secColorExtra: #12182e;