$solidBlack: #111617;
.background {
  display: grid;
  user-select: none;

  &__wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: $solidBlack;
  }
}
