@use '_vars' as vars;

.form{
  &__wrapper{
    max-width: 340px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    background: vars.$secColor;
    color: vars.$mainColorExtra;
    & > button.form__btn-back{
      color: vars.$mainColorExtra;
    }
    & > div{
      & > label{
        color: vars.$mainColorExtra;
      }
      & fieldset{
        border-color: vars.$mainColorExtra;
      }
    }
    
  }
  &__title{
    margin-bottom: 14px;
    color: vars.$mainColorExtra;
    font-size: 30px;
    text-align: center;

  }
  &__link{
    color: rgb(135, 135, 255);
    &_block{
      margin-top: 10px;
      font-size: 14px;
    }
  }
  &__input{
    width: 100%;
    margin-bottom: 10px;
    
  }
}