$mainColor: #ffffff;

.loading {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;

  opacity: 0;
  transition: 0.3s;
  font-family: 'Akzidenz-Grotesk';
  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__block {
    &-upper,
    &-bottom {
      position: absolute;
      transition: 0.5s;
      height: 50%;
      background-color: #000000;
    }
    &-upper {
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      &_bg {
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/loading_bg-upper.png');
        background-position-x: -4px;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: 3s;
      }
    }
    &-bottom {
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      &_bg {
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/loading_bg-bottom.png');
        background-position-x: 5px;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: 3s;
      }
    }
  }

  &__bordered,
  &__primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    z-index: 5;
    letter-spacing: 100px;
    transition: 1s;

    display: flex;
    align-items: center;
  }
  &__bordered {
    -webkit-text-stroke: 1px #000000;
    color: transparent;
    transform: translate(-52%, -45%);
  }
  &__primary {
    color: transparent;
    background: -webkit-linear-gradient(
      60deg,
      #dcd7d2,
      #c6e7f1,
      #9fc4ed,
      #9fc4ed,
      #adf9fd,
      #bbe7fd,
      #b8b3ff,
      #92b1fe,
      #adcdff,
      #b2dafd,
      #c0fbfd
    );
    background-clip: text;
    -webkit-background-clip: text;
  }

  &__dots {
    display: flex;
    align-items: center;
  }
  &__dot{
    display: inline-block;
    animation: jumpUp 1s infinite;
    &:nth-of-type(1){
      animation-delay: 0s;
    }
    &:nth-of-type(2){
      animation-delay: 0.2s;
    }
    &:nth-of-type(3){
      animation-delay: 0.4s;
    }
  }

  &.active {
    opacity: 1;
    & .loading__block-upper,
    & .loading__block-bottom {
      transform: translateY(0%);
    }
    & .loading__block-upper_bg,
    & .loading__block-bottom_bg {
      opacity: 1;
    }
    & .loading__bordered,
    & .loading__primary {
      letter-spacing: -11px;
    }
    & .loading__bordered {
      -webkit-text-stroke: 1px #ffffff;
    }
  }
}

@keyframes letterSpacing {
  0% {
    column-gap: 100px;
  }
  100% {
    column-gap: -11px;
  }
}
@keyframes jumpUp {
  0% {
    transform: translate(0px,0px);
  }
  50%{
    transform: translate(8px,-30px);
  }
  100% {
    transform: translate(0px,0px);

  }
}
