$gray: #828081;
$darkgray: #1e2224;
$black: #161b1d;
$white: #ffffff;

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  background: $darkgray;
  box-shadow: 0px 0px 2px 2px #25252525;
  &__progress{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
    &.active{
      opacity: 1;
    }
  }
  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    & > img{
      width: 40px;
      height: 40px;
    }
    &_text{
      font-family: 'Peace-Sans';
      font-weight: 700;
      color: $white;
      font-size: 35px;
    }
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 10px;
    & svg{
      font-size: 30px;
      color: $white;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 16px;
    & svg{
      color: $white;
      font-size: 30px;
    }
  }

  &__menu{
    & li{
      column-gap: 10px;
      padding-right: 20px;
      & svg{
        width: 24px;
        height: 24px;
      }
    }
  }

  &_title{
    font-size: 30px;
    font-weight: 500;
    color: $white;

    font-weight: 400;
  }
  &_search{
    overflow: hidden;

    display: flex;
    align-items: center;

    padding: 5px 10px;
    color: $white;
    background: $darkgray;
    border-bottom: 1px $gray solid;
    cursor: pointer;
    &_input{
      background: none;
      padding: 7px 10px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 400;
      color: $white;
    }
  }
}

.sidebar{
  &__menu{
    width: 250px;
    height: 100%;
    transition: 0.3s;
    transform: translateX(-100%);
    background: $white;
    &_wrapper{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 10;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
      &.active{
        opacity: 1;
        pointer-events: all;
        & > .sidebar__menu{
          transform: translateX(0);
        }
      }
    }
  }
}

