$gray: #626262;
$black: #252525;
$white: #f0f0f0;

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  background: $white;
  box-shadow: 0px 0px 2px 2px #25252525;
  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_left{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &_right{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &_title{
    font-size: 30px;
    font-weight: 500;
    color: $gray;
    font-family: 'Akzidenz-Grotesk Ext';
    font-weight: 400;
  }
  &_search{
    border: 1px rgb(188, 188, 188) solid;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
    align-items: center;

    padding: 5px 10px;
    &_input{
      background: none;
      padding: 7px 10px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 400;
      color: $gray;
    }
  }
}


