$gray: #828081;
$darkgray: #1e2224;
$black: #161b1d;
$white: #ffffff;

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
  background: $darkgray;
  box-shadow: 0px 0px 2px 2px #25252525;
  &__progress {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
    &.active {
      opacity: 1;
    }
  }
  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    & > img {
      width: 40px;
      height: 40px;
    }
    &_text {
      font-family: 'Peace-Sans';
      font-weight: 700;
      color: $white;
      font-size: 35px;
    }
  }
  &__btn{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    & svg{
      font-size: 35px;
      color: $white;
    }
  }
  &__avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }
  &__left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    & svg {
      font-size: 30px;
      color: $white;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__menu {
    & li {
      column-gap: 10px;
      padding-right: 20px;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &_title {
    font-size: 30px;
    font-weight: 500;
    color: $white;

    font-weight: 400;
  }
  &_search {
    overflow: hidden;

    display: flex;
    align-items: center;

    padding: 5px 10px;
    color: $white;
    background: $darkgray;
    border-bottom: 1px $gray solid;
    cursor: pointer;

    position: relative;
    z-index: 5;
    &_wrapper {
      position: relative;
      border-bottom: 10px;
    }
    &_input {
      background: none;
      padding: 7px 10px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 400;
      color: $white;
    }
    &_backplate{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      &.active{
        display: block;
      }
    }
    &_results {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 0;
      z-index: 5;
      transform: translateY(100%);

      max-height: 500px;
      opacity: 0;
      overflow-y: scroll;
      transition: 0.2s;
      &.active{
        opacity: 1;
      }
      &::-webkit-scrollbar{
        width: 10px;
      }
      &::-webkit-scrollbar-track{
        background: $darkgray;
      }
      &::-webkit-scrollbar-thumb{
        background: $gray;
        width: 10px;
        border-radius: 5px;
      }
    }
    &_card {
      width: 100%;
      height: 110px;
      padding: 20px;

      display: flex;
      align-items: flex-end;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      animation: fade 0.3s ease-in-out;
      overflow: hidden;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.85),
          rgba(0, 0, 0, 0.3)
        );
        transition: 0.2s;
        opacity: 0;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.85),
          rgba(0, 0, 0, 0.1)
        );
      }
      &:hover{
        &::before{
          opacity: 1;
        }
      }
      &_content{
        position: relative;
        z-index: 2;
      }
      &_title {
        font-size: 16px;
        color: $white;

      }
    }
  }
}

.sidebar {
  &__menu {
    width: 250px;
    height: 100%;
    transition: 0.3s;
    transform: translateX(-100%);
    background: $white;
    &_wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 10;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
      &.active {
        opacity: 1;
        pointer-events: all;
        & > .sidebar__menu {
          transform: translateX(0);
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}