$gray: #828081;
$darkgray: #1e2224;
$black: #161b1d;
$white: #ffffff;
$lightwhite: #e1e1e1;
/////////////////////////////REVIEW PAGE///////////////////////////
.review {
  animation: fade 0.3s ease-in-out;
  position: relative;
  & > .container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__btn {
    &-back {
      width: 40px;
      height: 40px;
      outline: none;
      border: none;
      background: $darkgray;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-bottom: 20px;
      cursor: pointer;
      & svg {
        font-size: 22px;
        color: $white;
      }
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_content {
      font-size: 40px;
      
      font-weight: 700;
      margin-bottom: 10px;
      color: $white;
      display: flex;
      align-items: center;
    }
    &_text{
      width: fit-content;
    }
  }
  &__about {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    column-gap: 10px;
    margin-bottom: 40px;
    color: $gray;
  }
  &__author {
    &_img{
      width: 30px;
      height: 30px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
    & > a {
      display: flex;
      align-items: center;
      column-gap: 10px;
      & > span {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;

        color: $white;
        text-decoration: underline;
      }
      & > svg{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $gray;
      }
    }
  }
  &__options {
    background: $darkgray;
    border-radius: 5px;
    &_btn {
      &-delete {
        background: none;
        padding: 5px;

        display: flex;
        align-items: center;

        outline: none;
        border: none;
        cursor: pointer;
        & > svg {
          font-size: 24px;
          color: red;
        }
      }
    }
  }
  &__rating {
    padding: 4px 10px;
    border-radius: 15px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #f9f9f9;
  }
  &__date {
    font-size: 16px;
    color: $gray;
  }
  &__img {
    align-self: center;
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__descr {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 0.3px;
    color: $white;
    white-space: pre-line;
  }
  &__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  &__stats {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &_block{
      display: flex;
      align-items: center;
    }
  }
  
  &__likes {
    &_block {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 1px $white solid;
      & svg {
        color: $white;
      }
    }
    &_amount {
      margin-left: 5px;
      color: $white;
      font-weight: 400;
    }
  }
  &__dislikes {
    &_block {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 1px $white solid;
      border-left: none;
      & svg {
        color: $white;
      }
    }
    &_amount {
      margin-left: 5px;
      color: $white;
      font-weight: 400;
    }
  }
  &__views {

    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $white;
  }
  &__group {

    padding: 5px 12px;
    background: $white;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    color: $darkgray;
    &_block{
      display: flex;
      align-items: center;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }
  &__tag {
    padding: 5px 10px;
    border-radius: 10px;
    color: $white;
    background: $darkgray;
  }
  &__comments {
    width: 100%;
    padding: 50px 0;
    & > .container {
      max-width: 600px;
      row-gap: 15px;
      padding: 0;
    }
    &_container {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 15px;
    }
    &_title {
      font-size: 30px;
      color: $white;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &_item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      background: $darkgray;
      animation: commentAppear 0.5s ease-in-out;
      row-gap: 20px;
      border-radius: 10px;
      @keyframes commentAppear {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &_header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        &_about {
          display: flex;
          align-items: center;
          column-gap: 10px;
          & svg{
            font-size: 40px;
            color: $gray;
          }
        }
      }
      &_avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

      }
      &_author {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 5px;
      }
      &_name {
        color: $white;
        font-size: 18px;
        font-weight: 500;
      }
      &_date {
        color: $gray;
        font-size: 12px;
      }
      &_descr {
        color: $white;
        font-size: 18px;
        font-weight: 400;
      }
      &_btn {
        &-delete {
          display: flex;
          align-items: center;
          background: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          & svg {
            color: $white;
          }
        }
      }
    }

    &_input {
      width: 100%;

      outline: none;
      border: none;
      color: $white;

      & > div {
        padding: 10px 0;
      }
      & fieldset {
        border: none;
      }
      &_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        border-radius: 10px;
        row-gap: 30px;
        font-size: 16px;
        background: $darkgray;
        margin-bottom: 30px;
      }
      &_btn {
        border-radius: 7px;
        border: 2px $white solid;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 15px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: 0.15s;
        &:hover {
          background: $darkgray;
          color: $white;
        }
      }
      &_error {
        color: $white;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  #review-comments-input {
    color: #ffffff;
  }
  //////////////////////////////REVIEW MAIN////////////////

  &__main {
    &_container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 220px;
      gap: 20px;
      min-height: 280px;
      border-radius: 35px;
      padding: 30px;
      background-color: $darkgray;

      &_wrapper {
        padding: 50px 0;
        width: 100%;
      }
      &_title {
        color: $white;
        font-size: 40px;
        padding: 10px 30px;
        font-weight: 700;
        text-transform: capitalize;
      }
      &_link {
        padding: 10px 30px;
        color: $gray;
        font-size: 16px;
        align-self: flex-end;
        cursor: pointer;
        margin-bottom: 20px;
      }
    }

    &_category {
      &_block {
        display: flex;
        flex-direction: column;
      }
    }
  }

  /////////////////////////////////////////////////////////

  &__btn {
    &-new {
      width: 40px;
      height: 40px;
      color: $white;
      background: rgb(35, 35, 255);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      transition: 0.2s;
      letter-spacing: 0.5px;
      cursor: pointer;
      &:hover {
        background: rgb(255, 255, 255);
        color: $black;
      }
    }
  }

  ///////////////////////CARD///////////////////////////
  &__card {
    background-color: $darkgray;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    column-gap: 20px;
    animation: fade 0.3s ease-in-out;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.3)
      );
      z-index: 3;
      transition: 0.2s;
      opacity: 0;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
      z-index: 3;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
    &_img_block {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &_text {
      padding: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      z-index: 4;
    }
    &_author {
      color: $gray;
      font-size: 16px;
      display: flex;
      align-items: center;

      & > span {
        font-weight: 700;
        font-size: 17px;
        margin-left: 5px;
      }
      &_avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    &_title {
      font-size: 18px;
      font-weight: 700;
      text-transform: capitalize;

      color: #ffffff;

      & > .review__rating {
        margin-left: 10px;
        padding: 3px 6px;
        font-size: 12px;
      }
    }

    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
    &_stats {
      display: flex;
      align-items: center;
      color: $gray;
      column-gap: 10px;
      & > span {
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-size: 14px;
        & > svg {
          font-size: 16px;
        }
      }
    }
  }
  /////////////////////////////////////////////////////
  &__new {
    margin: 50px 0;
    padding: 30px;
    border-radius: 15px;
    background: $white;
    &_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
    }
    &_title {
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      color: $darkgray;
      margin-bottom: 15px;
    }
    &_left {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      min-height: 300px;
      grid-column: 2 span;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray;
      border-radius: 10px;
      overflow: hidden;
      border: 2px $white solid;

      position: relative;
    }
    &_right {
      width: 100%;
      grid-column: 1 span;
      &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        & > button {
          background: linear-gradient(135deg, #eb8a28, #ab5c0e);
        }
      }
    }
    &_input {
      &-file_block {
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        & label{
          width: 100%;
          min-width: 0;
        }
      }
      &_note {
        font-size: 14px;
        color: $gray;
        grid-column: 2 span;
      }
    }
    &_img {
      max-width: 100%;
      width: 100%;
      transition: 0.3s;
    }
  }
  &__error {
    color: $white;
    font-size: 27px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 3 span;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
