@use '_vars' as vars;

.review__search {
  &_input {
    flex-grow: 1;
    background: none;
    color: vars.$secColor;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0 10px;
    &_wrapper {
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      background-color: vars.$mainColorExtra;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_btn{
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      background: none;
      & > svg{
        font-size: 22px;
        color: vars.$secColor;
      }
    }
  }
}
