@use '_vars' as vars;

@import url('./background.scss');
@import url('./nav.scss');
@import url('./review.scss');
@import url('./review-card.scss');
@import url('./form.scss');
@import url('./profile.scss');
@import url('./tags.scss');
@import url('./modal.scss');
@import url('./searchPage.scss');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit';
}
a {
  text-decoration: none;
}
.container {
  max-width: 1270px;
  padding: 0 30px;
  margin: 0 auto;
}
section {
  padding: 50px 0;
}
body {
  overflow-y: scroll !important;
  padding: 0 !important;
}
//!important in this case is necessary to fix the "menu" component from Material UI.
//The menu component continues to add inline styles to the body

.global__wrapper {
  position: relative;
  min-height: 100vh;

}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$mainColorExtra;
  &__text,
  &__link {
    color: vars.$secColor;
  }
  &__link {
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 700;
  }
}

.page__content {
  min-height: 100vh;
  padding-top: 67px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.auth_error {
  padding: 7px 14px 7px 7px;

  border: 1px vars.$secColorSolid solid;
  border-radius: 10px;
  background: vars.$secColor;
  &_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}
