@import url('./review.scss');
@import url('./form.scss');
@import url('./loading.scss');
@import url('./profile.scss');

$gray: #626262;
$black: #252525;
$white: #f0f0f0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  overflow-y: scroll;
}

.global__wrapper {
  position: relative;
  min-height: 100vh;
  background: $white;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  &__text,
  &__link {
    color: $white;
  }
  &__link {
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 700;
  }
}

.page__content {
  min-height: 95vh;
  padding-top: 67px;
}

.auth_error{
  padding: 7px 14px 7px 7px;
  
  border: 1px $gray solid;
  &_block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}