$gray: #828081;
$darkgray: #1e2224;
$black: #161b1d;
$white: #ffffff;
$lightwhite: #e1e1e1;

.tags {
  &__wrapper {
    width: 100%;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__item {
    color: $white;
    font-size: 14px;
    padding: 8px 16px;

    position: relative;

    background: $darkgray;
    border-radius: 8px;

    cursor: pointer;
    outline: none;
    border: none;
    overflow: hidden;

    box-shadow: inset 0px 1px 2px rgb(239 232 232 / 40%);

    transition: 0.2s;
    user-select: none;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        45deg,
        transparent,
        transparent,
        rgb(204, 204, 204),
        transparent,
        transparent
      );
      transform: translateX(-100%);
      transition: 0.4s;
      animation: slideToRight 0.6s;
      animation-delay: 0.1s;
    }
    &.active {
      background-color: rgb(239 232 232 / 20%);
      box-shadow: inset 0px 1px 2px $white;

      transform: translateY(-7px);
    }
    &_text {
      pointer-events: none;
      position: relative;
      z-index: 3;
    }
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
