@font-face {
    font-family: 'Montserrat';
    src:
        url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src:
        url('Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}